**.pyc
**.so
**.cache
tests/catch.hpp
tests/test_block_diag_ilu
python_prototype/_block_diag_ilu.cpp
block_diag_ilu/_block_diag_ilu.cpp
python_prototype/build
python_prototype/*.png
python_prototype/*.out
build/
cython_debug/
dist/
block_diag_ilu.egg-info/
scripts/*.png
!scripts/matrix.png
!scripts/matrix_lu.png