include external/anyode/include/anyode/anyode_buffer.hpp
include external/anyode/include/anyode/anyode_blas_lapack.hpp
include external/anyode/include/anyode/anyode_decomposition.hpp
include external/anyode/include/anyode/anyode_decomposition_lapack.hpp
include external/anyode/include/anyode/anyode_matrix.hpp
include external/anyode/include/anyode/anyode_util.hpp
recursive-include block_diag_ilu/include *.hpp *.pxd
include AUTHORS
include CHANGES.rst
include LICENSE
include README.rst

